{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeniqs - IT Services & Solutions</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <header class="header">
        <div class="logo">
            <span><img src="logo.png" alt="Zeniqs Logo"> Zeniqs</span>
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a href="">Quienes somos</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Nuestros Trabajos</a></li>
                <li><a href="">Clientes</a></li>
            </ul>
        </nav>
        <a href="#buy-now" class="btn btn-buy">Contacto</a>
    </header>

    <section class="hero-section">
        <div class="hero-content">
            <h1>IT Services, IT Technology & IT Solutions Template</h1>
            <p>Elevate your website development expertise and supercharge your efficiency.</p>
            <a href="#view-demo" class="btn btn-primary">Explorar <span>→</span></a>
        </div>

        <div class="product-showcase-container">
            <div class="macbook-mockup-frame">
                <img src="{% static 'img/image-removebg-preview.png' %}" alt="Notebook Frame" class="macbook-frame-image">

                <div class="screen-content-overlay">
                    <img src="{% static 'img/fondo.png' %}" alt="Contenido de la pantalla" class="screen-image">
                </div>
            </div>
        </div>
    </section>

</body>

</html>